/* .counter{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.active{
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes scale {
    form{
        scale: 1;
        opacity: 1;
    }
    to{
        scale: 3;
        opacity: 0;
    }
} */